<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<runtime>

		<!-- 允許載入外部的dll -->
		<loadFromRemoteSources enabled="true" />

		<!-- 支援長路經 -->
		<AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />

	</runtime>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
		<add key="DisableDpiChangedMessageHandling" value="false" />
		<add key="DisableSinglePassControlScaling" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	
</configuration>