################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Tiefsee/obj
/Tiefsee/bin

/Tiefsee/www/node_modules
/Tiefsee/www/js
/Tiefsee/www/css
/Tiefsee/www/MainWindow.html
/Tiefsee/www/SettingWindow.html

/TiefseeAppPackager/Package.StoreAssociation.xml
/TiefseeAppPackager/obj
/TiefseeAppPackager/bin
/TiefseeAppPackager/AppPackages
/TiefseeAppPackager/TiefseeAppPackager.assets.cache
/TiefseeAppPackager/BundleArtifacts





