################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Tiefsee/obj
/Tiefsee/bin

/Www/node_modules
/Www/js
/Www/css
/Www/obj
/Www/MainWindow.html
/Www/SettingWindow.html

/TiefseeAppPackager/Package.StoreAssociation.xml
/TiefseeAppPackager/obj
/TiefseeAppPackager/bin
/TiefseeAppPackager/AppPackages
/TiefseeAppPackager/TiefseeAppPackager.assets.cache
/TiefseeAppPackager/BundleArtifacts

/Output

/TiefseeLauncherDll/obj
/TiefseeLauncherDll/bin

/BuildAll/obj
/BuildAll/bin

TiefseeLauncher/x64
TiefseeLauncher/Resource.aps
TiefseeLauncher/Release
