@import "../BaseWindow";
@import "../Menu";
@import "../Msgbox";
@import "../Toast";
@import "../Tiefseeview";

@import "./LargeBtn";
@import "./Dragbar";
@import "./MainDirList";
@import "./MainExif";
@import "./MainFileList";
@import "./MainToolbar";
@import "./LoadingSetting";
@import "./BulkView";

:root {
    //圖示粗細
    --svgWeight: 0px;
}

.titlebar-toolbar-btn svg,
.main-toolbar-btn svg,
.menu-hor-icon svg,
.menu-grid-item svg {
    stroke: var(--color-white);
    stroke-width: var(--svgWeight);
}

//-------------------------------

// 標題列按鈕展開下拉選單時
.titlebar-toolbar-btn.menuActive {
    background-color: var(--color-white20);
}

//-------------------------------

//內容區塊
.window-body {
    flex: 1;
    display: flex;
    height: 0;
}

//-------------------------------

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

//容器 - 上
.main-T {
}

//容器 - 下
.main-B {
}

//容器 - 中 (用於放 左中右容器)
.main-C {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

//容器 - 左
.main-L,
.main-L2 {
    height: 100%;
    position: relative;
}

//容器 - 右
.main-R {
    height: 100%;
    position: relative;
}

//容器 - 中 (用於顯示主內容)
.main-V {
    flex: 1;
    position: relative;
}

//同時顯示檔案面板跟資料夾面板時，減少兩個項目之間的距離
/*.main-item:nth-child(n + 2 of .main-item[active="true"]:not([hide="true"])) {
  margin-left: -3px;
}*/

//-------------------------------

.mView-tiefseeview {
    z-index: 1;
    height: 100%;
    width: 100%;
}

.mView-iframe {
    height: 100%;
    width: 100%;
    border: none;
    user-select: none;
    position: relative;
}

.mView-text {
    height: 100%;
    width: 100%;
    border: none;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    outline: none;
    resize: none; //右下角的拖曳方塊
}

//-------------------------------

//歡迎畫面
.mView-welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    user-select: none;
    /* pointer-events: none; */

    .mView-welcome-logo {
        max-width: 150px;
        margin: auto;
        margin-bottom: 30px;
        display: block;
        pointer-events: none;
    }
    .mView-welcome-text {
        text-align: center;
        font-size: 20px;
        pointer-events: none;
    }
}

//-------------------------------

#loadingWindow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    img {
        max-width: 300px;
        width: 100%;
        pointer-events: none;
        user-select: none;
    }
}

//-------------------------------

//搭配 js函數「updateDomVisibility()」，用於隱藏元素
.js-showType-none {
    display: none !important;
}

//-------------------------------

// 全螢幕
body[fullScreen="true"] {
    .window-titlebar {
        position: fixed;
        top: -70px;
        left: 0;
        right: 0;
        transition: top 0.3s;
        z-index: 100;
        background-color: var(--color-black80);

        // 讓背景延伸到工具列
        height: 70px;
        padding-bottom: 40px;
    }
    .main-T {
        position: fixed;
        top: -40px;
        left: 0;
        right: 0;
        transition: top 0.3s;
        z-index: 100;
    }
    .titlebar-text {
        app-region: no-drag; //讓視窗不允許拖曳
    }

    //顯示「結束全螢幕」的按鈕
    .titlebar-toolbar-exitFullScreen {
        display: flex !important;
    }
    //隱藏「最大化、視窗化、最小化、關閉」
    .titlebar-toolbar-minimized,
    .titlebar-toolbar-normal,
    .titlebar-toolbar-maximized,
    .titlebar-toolbar-close {
        display: none !important;
    }
}
//滑鼠移動到最上面時，顯示標題列與工具列
body[fullScreen="true"][showTitlebar="true"] {
    .window-titlebar {
        top: 0px;
    }
    .main-T {
        top: 30px;
    }
}
