//圖示粗細
:root {
  --svgWeight: 0px;
}
.titlebar-tools-btn svg,
.main-tools-btn svg,
.menu-hor-icon svg,
.menu-grid-item svg {
  stroke: var(--color-white);
  stroke-width: var(--svgWeight);
}

/*---------------------------*/

// 標題列按鈕展開下拉選單時
.titlebar-tools-btn.menuActive {
  background-color: var(--color-white20);
}

/*---------------------------*/

//內容區塊
.window-body {
  flex: 1;
  display: flex;
  height: 0;
}

/*---------------------------*/

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

.main-T {
}

.main-C {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.main-B {
}

.main-L {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.main-V {
  flex: 1;
  position: relative;
}

.main-R {
  height: 100%;
  position: relative;
}

/*---------------------------*/

.main-welcomeview {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  user-select: none;
  /* pointer-events: none; */
}

.main-tiefseeview {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.main-pdfview {
  height: 100%;
  width: 100%;
  border: none;
}

.main-txtview {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 15px;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  outline: none;
}

/*---------------------------*/
//歡迎畫面
.welcomeview-logo {
  max-width: 150px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  pointer-events: none;
}
.welcomeview-txt {
  text-align: center;
  font-size: 20px;
  pointer-events: none;
}

/*---------------------------*/

/* #region main-tools 工具列 */

.main-tools {
  /* background-color: rgba(165, 42, 42, 0.411); */
  height: 35px;
  color: var(--color-white);
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 3px;
}

/*捲動軸樣式*/
.main-tools:hover {
  overflow-x: overlay;
}
.main-tools::-webkit-scrollbar {
  /* background-color: var(--color-black40); */
  height: 3px;
  /* border-radius: 5px; */
}

.main-tools::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.main-tools::-webkit-scrollbar-thumb {
  background-color: var(--color-white40);
  /* border-radius: 5px; */
}

.main-tools-group {
  display: none;
  margin-left: 3px;
  margin-bottom: 3px;
}
.main-tools-group[active="true"] {
  display: flex;
}
/*垂直線*/
.main-tools-hr {
  width: 1px;
  min-width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white20);
  margin: 0 3px;
}

/*純文字資訊*/
.main-tools-txt {
  height: 35px;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;

  //左邊的垂直線
  padding-right: 5px;
  padding-left: 8px;
  border-left: 1px solid var(--color-white20);
  margin-left: 3px;
}

/*按鈕*/
.main-tools-btn {
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  user-select: none;
  flex-shrink: 0; /*避免壓縮*/
}

.main-tools-btn:hover {
  cursor: pointer;
  background-color: var(--color-white20);
}
.main-tools-btn:active {
  background-color: var(--color-white30);
}

.main-tools-btn svg,
.main-tools-btn img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

/*開啟選單時*/
.main-tools-btn.menuActive {
  background-color: var(--color-white20) !important;
}
/* #endregion */

/* #region 下面的大型換頁按鈕 */

.largeBtn {
  /* backdrop-filter: saturate(180%) blur(20px); */
  position: absolute;
  border-radius: 5px;
  background-color: var(--color-black40);
  /* border: 1px solid var(--color-blue40); */
  border: 1px solid var(--color-white20);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 5;
  user-select: none;
}
.largeBtn:hover {
  cursor: pointer;
  opacity: 1;
}
.largeBtn:active {
  /* border: 1px solid var(--color-blue60); */
  /* transform: translateX(-2px); */
}
.largeBtn:active svg {
  transform: scale(1.05);
  /* border: 1px solid var(--color-blue60); */
  /* transform: translateX(-2px); */
}
/*.largeBtnLeft-bottom:active {
  transform: translateX(-1px);
}
.largeBtnRight-bottom:active {
  transform: translateX(1px);
} */
.largeBtn svg {
  height: 30px;
}
//左右兩側
.largeBtn[data-style="leftRight-L"] {
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 60px;
}
.largeBtn[data-style="leftRight-R"] {
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 60px;
}
//下面
.largeBtn[data-style="bottom-L"] {
  bottom: 20px;
  left: 20px;
  right: 50%;
  height: 60px;
}
.largeBtn[data-style="bottom-R"] {
  bottom: 20px;
  left: 50%;
  right: 20px;
  height: 60px;
}
//不顯示
.largeBtn[data-style="none-L"] {
  display: none;
}
.largeBtn[data-style="none-R"] {
  display: none;
}

/* #endregion */

//-----------------

//檔案預覽列表
:root {
  --fileList-width: 120px;
}
.main-fileList {
  display: none;

  overflow-x: hidden;
  overflow-y: overlay !important;
  height: 100%;
  width: var(--fileList-width);

  .main-fileListBody {
    overflow: hidden;
    padding-top: 4px;
  }

  .fileList-item {
    margin-left: 5px;
    margin-right: 15px;
    user-select: none;
    color: var(--color-white);
    margin-bottom: 5px;

    //  border-radius: 5px;
    //padding: 2px 20px 2px 2px;
    white-space: nowrap;
    // width: calc(100%);
  }

  .fileList-item:hover {
    // background-color: var(--color-white20);
    outline: 2px solid var(--color-white40);
    outline-offset: 2px;
    cursor: pointer;
  }

  //選中
  .fileList-item[active="true"] {
    outline: 2px solid var(--color-blue);
    // background-color: var(--color-white20);
    outline-offset: 2px;
  }

  .fileList-title {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }

  //編號
  .fileList-no {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    font-weight: 500;
    color: var(--color-blue);
    margin-right: 3px;
    // margin-left: 3px;
  }

  //檔名
  .fileList-name {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    text-align: center;
    flex: 1;
    white-space: nowrap;
  }

  //圖片
  .fileList-img {
    width: calc(var(--fileList-width) - 20px);
    height: calc(var(--fileList-width) - 20px);
    // min-height: 60px;
    // margin: 3px auto;
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    // border-radius: 5px;
  }
}

//啟用
.main-fileList[active="true"] {
  display: block;
}
//暫時隱藏
.main-fileList[hide="true"] {
  display: none !important;
}

//-----------------

//資料夾預覽列表
:root {
  --dirList-width: 200px;
}
.main-dirList {
  display: none;

  overflow-x: hidden;
  overflow-y: overlay !important;
  height: 100%;
  width: var(--dirList-width);

  .main-dirListBody {
    overflow: hidden;
    padding-top: 4px;
  }

  .dirList-item {
    user-select: none;
    margin-bottom: 5px;
    //padding: 3px;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 15px;
    //width: calc(100%);
  }

  .dirList-item:hover {
    // background-color: var(--color-white20);
    outline: 2px solid var(--color-white40);
    outline-offset: 2px;
    cursor: pointer;
  }

  //選中
  .dirList-item[active="true"] {
    outline: 2px solid var(--color-blue);
    // background-color: var(--color-white20);
    outline-offset: 2px;
  }

  //
  .dirList-title {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }

  //編號
  .dirList-no {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    font-weight: 500;
    color: var(--color-blue);
    margin-right: 3px;
  }

  //檔名
  .dirList-name {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    color: var(--color-white);
  }

  .dirList-imgbox {
    display: flex;
    flex-direction: row;
  }

  //圖片
  .dirList-img {
    margin-right: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dirList-img__1 {
    width: calc((var(--dirList-width) - 1 * 4px) / 1);
    height: calc((var(--dirList-width) - 1 * 4px) / 1);
  }
  .dirList-img__2 {
    width: calc((var(--dirList-width) - 2 * 4px) / 2);
    height: calc((var(--dirList-width) - 2 * 4px) / 2);
  }
  .dirList-img__3 {
    width: calc((var(--dirList-width) - 3 * 4px) / 3);
    height: calc((var(--dirList-width) - 3 * 4px) / 3);
  }
  .dirList-img__4 {
    width: calc((var(--dirList-width) - 4 * 4px) / 4);
    height: calc((var(--dirList-width) - 4 * 4px) / 4);
  }
  .dirList-img__5 {
    width: calc((var(--dirList-width) - 5 * 4px) / 5);
    height: calc((var(--dirList-width) - 5 * 4px) / 5);
  }

  .dirList-img:last-child {
    margin-right: 0px;
  }
}

//啟用
.main-dirList[active="true"] {
  display: block;
}
//暫時隱藏
.main-dirList[hide="true"] {
  display: none !important;
}

//-------------------

//拖曳條
.dragbar-v {
  width: 4px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
  top: 40px;
  left: 60px;
  position: absolute;
  z-index: 10;
}
//滑鼠移入時
.dragbar-v:hover {
  background-color: var(--color-blue);
  cursor: e-resize;
}
//拖曳時
.dragbar-v[active="true"] {
  background-color: var(--color-blue);
}

//-------------------

//exif 視窗
:root {
  --mainExif-width: 240px;
}

.mainExif {
  display: none;
  //display: flex;
  width: var(--mainExif-width);
  height: 100%;
  flex-direction: column;

  .mainExifTop {
  }

  .mainExifList {
    padding: 0 5px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }
  .mainExifItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color-blue20);
    padding: 3px 0;

    word-wrap: break-word;
    //word-break: break-all;
    font-size: 14px;
  }
  .mainExifItem:last-child {
    border-bottom: none;
  }
  .mainExifName {
    flex: 1;
    min-width: 100px; //寬度不足100時，會自動換行
    color: var(--color-blue);
    margin-right: 3px;
    font-weight: 500;
  }
  .mainExifValue {
    flex: 1;
    min-width: 100px;
    color: var(--color-white);
  }
}

//啟用
.mainExif[active="true"] {
  display: flex;
}
//暫時隱藏
.mainExif[hide="true"] {
  display: none !important;
}
