/* 圖示粗細 */
:root {
  --svgWeight: 0px;
}
.titlebar-tools-btn svg,
.main-tools-btn svg,
.menu-hor-icon svg {
  stroke: var(--color-white);
  stroke-width: var(--svgWeight);
}

/*---------------------------*/

/*內容區塊*/
.window-body {
  flex: 1;
  display: flex;
  height: 0;
}

/*---------------------------*/

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

.main-T {
}

.main-C {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
}

.main-B {
}

.main-L {
  height: 100%;
  position: relative;
}

.main-V {
  flex: 1;
  position: relative;
}

.main-R {
  height: 100%;
  position: relative;
}

/*---------------------------*/

.main-welcomeview {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  user-select: none;
  /* pointer-events: none; */
}

.main-tiefseeview {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.main-pdfview {
  height: 100%;
  width: 100%;
  border: none;
}

.main-txtview {
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px; */
  border: none;
  font-size: 15px;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  outline: none;
}

/*---------------------------*/
.welcomeview-logo {
  max-width: 150px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  pointer-events: none;
}
.welcomeview-txt {
  text-align: center;
  font-size: 20px;
  pointer-events: none;
}

/*---------------------------*/

/* #region main-tools 工具列 */

.main-tools {
  /* background-color: rgba(165, 42, 42, 0.411); */
  /* height: 35px; */
  color: var(--color-white);
  overflow-x: hidden;
  overflow-y: hidden;
}

/*捲動軸樣式*/
.main-tools:hover {
  overflow-x: overlay;
}
.main-tools::-webkit-scrollbar {
  /* background-color: var(--color-black40); */
  height: 3px;
  /* border-radius: 5px; */
}

.main-tools::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.main-tools::-webkit-scrollbar-thumb {
  background-color: var(--color-white40);
  /* border-radius: 5px; */
}

.main-tools-group {
  display: none;
  margin-left: 3px;
  margin-bottom: 3px;
}
.main-tools-group[active="true"] {
  display: flex;
}
/*垂直線*/
.main-tools-hr {
  width: 1px;
  min-width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white20);
  margin: 0 3px;
}

/*純文字資訊*/
.main-tools-txt {
  height: 35px;
  margin: 0px 5px;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
}

/*按鈕*/
.main-tools-btn {
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  user-select: none;
  flex-shrink: 0; /*避免壓縮*/
}

.main-tools-btn:hover {
  cursor: pointer;
  background-color: var(--color-white20);
}
.main-tools-btn:active {
  background-color: var(--color-white30);
}

.main-tools-btn svg,
.main-tools-btn img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

/*開啟選單時*/
.main-tools-btn.menuActive {
  background-color: var(--color-white20) !important;
}
/* #endregion */

/* #region 下面的大型換頁按鈕 */

.maxBtn {
  /* backdrop-filter: saturate(180%) blur(20px); */
  position: absolute;
  border-radius: 5px;
  background-color: var(--color-black40);
  /* border: 1px solid var(--color-blue40); */
  border: 1px solid var(--color-white20);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 5;
}
.maxBtn:hover {
  cursor: pointer;
  opacity: 1;
}
.maxBtn:active {
  /* border: 1px solid var(--color-blue60); */
  /* transform: translateX(-2px); */
}
.maxBtn:active svg {
  transform: scale(1.05);
  /* border: 1px solid var(--color-blue60); */
  /* transform: translateX(-2px); */
}
/*.maxBtnLeft-bottom:active {
  transform: translateX(-1px);
}
.maxBtnRight-bottom:active {
  transform: translateX(1px);
} */
.maxBtn svg {
  max-height: 30px;
}
.maxBtnLeft-bottom {
  bottom: 20px;
  left: 20px;
  right: 50%;
  height: 60px;
}

.maxBtnRight-bottom {
  bottom: 20px;
  left: 50%;
  right: 20px;
  height: 60px;
}
/* #endregion */


//檔案預覽列表
.main-fileList {
  overflow-x: hidden;
  overflow-y: auto !important;
  height: 100%;

  .main-fileListBody {
    width: 126px;
  overflow: hidden;
  }

  .fileList-item {
    user-select: none;
    color: var(--color-white);
    margin-bottom: 10px;
    padding: 3px;
    white-space: nowrap;
    width: 126px;
  }

  .fileList-item:hover {
    // background-color: var(--color-white20);
    outline: 2px solid var(--color-white40);
    outline-offset: -2px;
    cursor: pointer;
  }

  //選中
  .fileList-item[active="true"] {
    // outline: 1px solid var(--color-white40);
    background-color: var(--color-white20);
    outline-offset: -2px;
  }

  //編號
  .fileList-no {
    line-height: 16px;
    overflow: hidden;
    color: var(--color-blue);
  }

  //檔名
  .fileList-title {
    line-height: 24px;
    overflow: hidden;
    text-align: center;
  }

  .fileList-img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
