.tiefseeview {
  overflow: hidden;
  position: relative;
}

/* 用於縮放dpi*/
.tiefseeview .tiefseeview-dpizoom {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  zoom: 1;
}

/*實際佔位，用於設定left、top*/
.tiefseeview .tiefseeview-container {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*放圖片的容器，用於套用旋轉*/
.tiefseeview .tiefseeview-data {
  /*縮放是以圖片寬度為基準*/
  /* width: 100%; */
}

/*圖片*/
.tiefseeview .view-img {
  /* width: 100%;
  height: 100%; */
}
.tiefseeview .view-bigimg {
  position: relative;
}
.tiefseeview .view-bigimg-canvas {
  position: absolute;
}
.tiefseeview .view-bigimg-bg {
  position: absolute;
  left: 0;
  top: 0;
}

.tiefseeview-loading {
  background-position: center center;
  background-size: 200px;
  /* background-size:100%; */
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

/*-----------------------*/

/*垂直捲動軸*/
.tiefseeview .scroll-y {
  width: 20px;
  position: absolute;
  right: 0px;
  top: 20px;
  bottom: 20px;
}

/*背景*/
.tiefseeview .scroll-y .scroll-bg {
  height: 100%;
  width: 9px;
  background-color: var(--color-black60);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  opacity: 0;
}

/*拖曳區域*/
.tiefseeview .scroll-y .scroll-box {
  height: 33%;
  width: 9px;
  background-color: var(--color-white40);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
  /* transition: transform 0.1s; */
  box-shadow: 0px 0px 3px 1px var(--color-black10);
  transform: scaleX(0.4);
}

.tiefseeview .scroll-y:hover {
  cursor: pointer;
}

/*移入與拖曳時-背景*/
.tiefseeview .scroll-y:hover .scroll-bg,
.tiefseeview .scroll-y[action="true"] .scroll-bg {
  opacity: 1;
}

/*移入與拖曳時-拖曳區域*/
.tiefseeview .scroll-y:hover .scroll-box,
.tiefseeview .scroll-y[action="true"] .scroll-box {
  /* background-color: rgba(255, 255, 255, 0.8); */
  transform: scaleX(1);
}

/*-----------------------*/

/*水平捲動軸*/
.tiefseeview .scroll-x {
  height: 20px;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0px;
}

/*背景*/
.tiefseeview .scroll-x .scroll-bg {
  height: 9px;
  width: 100%;
  background-color: var(--color-black60);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  opacity: 0;
}

/*拖曳區域*/
.tiefseeview .scroll-x .scroll-box {
  width: 33%;
  height: 9px;
  background-color: var(--color-white40);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* transition: transform 0.1s; */
  box-shadow: 0px 0px 3px 1px var(--color-black10);
  transform: scaleY(0.4);
}

.tiefseeview .scroll-x:hover {
  cursor: pointer;
}

/*移入與拖曳時-背景*/
.tiefseeview .scroll-x:hover .scroll-bg,
.tiefseeview .scroll-x[action="true"] .scroll-bg {
  opacity: 1;
}

/*移入與拖曳時-拖曳區域*/
.tiefseeview .scroll-x:hover .scroll-box,
.tiefseeview .scroll-x[action="true"] .scroll-box {
  /* background-color: rgba(255, 255, 255, 0.8); */
  transform: scaleY(1);
}
