/* #region exif 視窗 */
:root {
  --mainExif-width: 240px;
}

.mainExif {
  display: none;
  //display: flex;
  width: var(--mainExif-width);
  height: 100%;
  flex-direction: column;

  .mainExifTop {
  }

  .mainExifList {
    padding: 0 5px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }
  .mainExifItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color-blue20);
    padding: 3px 0;

    word-wrap: break-word;
    //word-break: break-all;
    font-size: 14px;
    position: relative;
  }
  .mainExifItem:last-child {
    border-bottom: none;
  }
  .mainExifName {
    flex: 1;
    min-width: 100px; //寬度不足100時，會自動換行
    color: var(--color-blue);
    margin-right: 3px;
    font-weight: 500;
  }
  .mainExifValue {
    flex: 1;
    min-width: 100px;
    color: var(--color-white);

    // 限制顯示的最大行數
    overflow: hidden;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  //google map
  .mainExifMap {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(232, 234, 237);
  }
  .mainExifMap::after {
    z-index: 0;
    content: "Map Loading";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    display: block;
    color: #333;
  }
  .mainExifMapIframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
  }

  //右上角的 複製按鈕
  .mainExifCopyBtn {
    position: absolute;
    top: 0;
    right: -5px;
    width: 24px;
    height: 24px;
    background-color: var(--color-black80);
    border: 1px solid var(--color-blue40);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  .mainExifCopyBtn:hover {
    opacity: 1;
    cursor: pointer;
  }
  .mainExifCopyBtn svg {
    width: 18px;
    height: 18px;
  }
}

//啟用
.mainExif[active="true"] {
  display: flex;
}
//暫時隱藏
.mainExif[hide="true"] {
  display: none !important;
}

/* #endregion */
