/* #region 檔案預覽視窗 */

:root {
  --fileList-width: 120px;
}
.main-fileList {
  display: none;

  overflow-x: hidden;
  overflow-y: overlay !important;
  height: 100%;
  width: var(--fileList-width);

  .main-fileListBody {
    overflow: hidden;
    padding-top: 4px;
  }

  .fileList-item {
    padding-left: 6px;
    margin-right: 8px;
    user-select: none;
    margin-bottom: 5px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
  }

  .fileList-item:hover::before {
    //outline: 2px solid var(--color-white40);
    //outline-offset: 2px;
    position: absolute;
    top: -4px;
    left: 2px;
    right: -4px;
    bottom: -4px;
    border: 2px solid var(--color-white40);
    pointer-events: none;
    z-index: 1;
    content: "";
  }

  //選中
  .fileList-item[active="true"]::before {
    position: absolute;
    top: -4px;
    left: 2px;
    right: -4px;
    bottom: -4px;
    border: 2px solid var(--color-blue);
    pointer-events: none;
    z-index: 1;
    content: "";
    //outline: 2px solid var(--color-blue);
    //background-color: var(--color-white20);
    //outline-offset: 2px;
  }

  .fileList-title {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }

  //編號
  .fileList-no {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    font-weight: 500;
    color: var(--color-blue);
    margin-right: 3px;
    // margin-left: 3px;
  }

  //檔名
  .fileList-name {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    color: var(--color-white);
  }

  //圖片
  .fileList-img {
    width: calc(var(--fileList-width) - 14px);
    height: calc(var(--fileList-width) - 20px);
    // min-height: 60px;
    // margin: 3px auto;
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    // border-radius: 5px;
  }
}

//啟用
.main-fileList[active="true"] {
  display: block;
}
//暫時隱藏
.main-fileList[hide="true"] {
  display: none !important;
}

/* #endregion */

//----------------------------------------------------------------

//捲動軸樣式  (小型、用於檔案預覽視窗

/*整體背景*/
.base-scrollbar-mini::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.base-scrollbar-mini:hover::-webkit-scrollbar {
  background-color: var(--color-black60);
}

//滾動條軌道
.base-scrollbar-mini:hover::-webkit-scrollbar-thumb {
  border-left: 3px solid rgba(0, 0, 0, 0);
}

//滾動條軌道(移入時
.base-scrollbar-mini::-webkit-scrollbar-track:hover {
}

//拖曳區塊
.base-scrollbar-mini::-webkit-scrollbar-thumb {
  background-color: var(--color-white40);
  //產生透明框線並且剪裁掉
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 0px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
}

//右下角交匯處
.base-scrollbar-mini::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
