/* #region main-tools 工具列 */

.main-tools {
  /* background-color: rgba(165, 42, 42, 0.411); */
  height: 35px;
  color: var(--color-white);
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 3px;
}

/*捲動軸樣式*/
.main-tools:hover {
  overflow-x: overlay;
}
.main-tools::-webkit-scrollbar {
  /* background-color: var(--color-black40); */
  height: 3px;
  /* border-radius: 5px; */
}

.main-tools::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.main-tools::-webkit-scrollbar-thumb {
  background-color: var(--color-white40);
  /* border-radius: 5px; */
}

.main-tools-group {
  display: none;
  margin-left: 3px;
  margin-bottom: 3px;
}
.main-tools-group[active="true"] {
  display: flex;
}
/*垂直線*/
.main-tools-hr {
  width: 1px;
  min-width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white20);
  margin: 0 3px;
}

/*純文字資訊*/
.main-tools-txt {
  height: 35px;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;

  //左邊的垂直線
  padding-right: 5px;
  padding-left: 8px;
  border-left: 1px solid var(--color-white20);
  margin-left: 3px;
}

/*按鈕*/
.main-tools-btn {
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  user-select: none;
  flex-shrink: 0; /*避免壓縮*/
}

.main-tools-btn:hover {
  cursor: pointer;
  background-color: var(--color-white20);
}
.main-tools-btn:active {
  background-color: var(--color-white30);
}

.main-tools-btn svg,
.main-tools-btn img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

/*開啟選單時*/
.main-tools-btn.menuActive {
  background-color: var(--color-white20) !important;
}

/* #endregion */
