/* #region main-toolbar 工具列 */

.main-toolbar {
  /* background-color: rgba(165, 42, 42, 0.411); */
  height: 35px;
  color: var(--color-white);
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 3px;
}

/*捲動軸樣式*/
.main-toolbar:hover {
  overflow-x: overlay;
}
.main-toolbar::-webkit-scrollbar {
  /* background-color: var(--color-black40); */
  height: 3px;
  /* border-radius: 5px; */
}

.main-toolbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.main-toolbar::-webkit-scrollbar-thumb {
  background-color: var(--color-white40);
  /* border-radius: 5px; */
}

.main-toolbar-group {
  display: none;
  margin-left: 3px;
  margin-bottom: 3px;
}
.main-toolbar-group[active="true"] {
  display: flex;
  align-items: center;
}
/*垂直線*/
.main-toolbar-hr {
  width: 1px;
  min-width: 1px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white20);
  margin: 0 3px;
}

//純文字資訊
.main-toolbar-txt {
  height: 35px;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;

  padding-right: 5px;
  margin-left: 12px;
  position: relative;
}
//純文字資訊-左邊的垂直線
.main-toolbar-txt::after {
  position: absolute;
  content: "";
  background-color: var(--color-white20);
  height: 29px;
  width: 1px;
  top: 0;
  bottom: 0;
  left: -9px;
  margin: auto;
}

/*按鈕*/
.main-toolbar-btn {
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  user-select: none;
  flex-shrink: 0; /*避免壓縮*/
}

.main-toolbar-btn:hover {
  cursor: pointer;
  background-color: var(--color-white10);
}
.main-toolbar-btn:active {
  background-color: var(--color-white30);
}

.main-toolbar-btn svg,
.main-toolbar-btn img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

/*開啟選單時*/
.main-toolbar-btn.menuActive {
  background-color: var(--color-white20) !important;
}

/* #endregion */
