/* #region 資料夾預覽列表 */

:root {
  --dirList-width: 200px;
}
.main-dirList {
  display: none;

  overflow-x: hidden;
  overflow-y: overlay !important;
  height: 100%;
  width: var(--dirList-width);

  .main-dirListBody {
    overflow: hidden;
    padding-top: 4px;
  }

  .dirList-item {
    padding-left: 6px;
    margin-right: 8px;
    user-select: none;
    margin-bottom: 5px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
  }

  .dirList-item:hover::before {
    //outline: 2px solid var(--color-white40);
    //outline-offset: 2px;
    position: absolute;
    top: -4px;
    left: 2px;
    right: -4px;
    bottom: -4px;
    border: 2px solid var(--color-white40);
    pointer-events: none;
    z-index: 1;
    content: "";
  }

  //選中
  .dirList-item[active="true"]::before {
    //outline: 2px solid var(--color-blue);
    //outline-offset: 2px;
    position: absolute;
    top: -4px;
    left: 2px;
    right: -4px;
    bottom: -4px;
    border: 2px solid var(--color-blue);
    pointer-events: none;
    z-index: 1;
    content: "";
  }

  //
  .dirList-title {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }

  //編號
  .dirList-no {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    font-weight: 500;
    color: var(--color-blue);
    margin-right: 3px;
  }

  //檔名
  .dirList-name {
    margin-bottom: 2px;
    line-height: 14px;
    height: 14px;

    overflow: hidden;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    color: var(--color-white);
  }

  .dirList-imgbox {
    display: flex;
    flex-direction: row;
  }

  //圖片
  .dirList-img {
    margin-right: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dirList-img__1 {
    width: calc((var(--dirList-width) - 1 * 3px) / 1);
    height: calc((var(--dirList-width) - 1 * 3px) / 1);
  }
  .dirList-img__2 {
    width: calc((var(--dirList-width) - 2 * 3px) / 2);
    height: calc((var(--dirList-width) - 2 * 3px) / 2);
  }
  .dirList-img__3 {
    width: calc((var(--dirList-width) - 3 * 3px) / 3);
    height: calc((var(--dirList-width) - 3 * 3px) / 3);
  }
  .dirList-img__4 {
    width: calc((var(--dirList-width) - 4 * 3px) / 4);
    height: calc((var(--dirList-width) - 4 * 3px) / 4);
  }
  .dirList-img__5 {
    width: calc((var(--dirList-width) - 5 * 3px) / 5);
    height: calc((var(--dirList-width) - 5 * 3px) / 5);
  }

  .dirList-img:last-child {
    margin-right: 0px;
  }
}

//啟用
.main-dirList[active="true"] {
  display: block;
}
//暫時隱藏
.main-dirList[hide="true"] {
  display: none !important;
}

/* #endregion */
