<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="11.2.0" targetFramework="net48" />
  <package id="Magick.NET-Q8-OpenMP-x64" version="11.2.1" targetFramework="net48" />
  <package id="MetadataExtractor" version="2.7.2" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1245.22" targetFramework="net48" />
  <package id="NetVips" version="2.1.0" targetFramework="net48" />
  <package id="NetVips.Extensions" version="2.1.0" targetFramework="net48" />
  <package id="NetVips.Native.win-x64" version="8.12.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net48" />
</packages>