* {
  box-sizing: content-box;
}

:root {
  --window-border: 8px;
  --window-border-corner: 20px;
  --color-window-bac: #fff;
  --color-window-border: #fff;
  --color-window-shadow: #fff;

  --color-black: rgba(0, 0, 0, 1);
  --color-black80: rgba(0, 0, 0, 0.8);
  --color-black60: rgba(0, 0, 0, 0.6);
  --color-black40: rgba(0, 0, 0, 0.4);
  --color-black20: rgba(0, 0, 0, 0.2);

  --color-white: rgb(255, 255, 255);
  --color-white80: rgba(255, 255, 255, 0.8);
  --color-white60: rgba(255, 255, 255, 0.6);
  --color-white40: rgba(255, 255, 255, 0.4);
  --color-white20: rgba(255, 255, 255, 0.2);
  --color-white10: rgba(255, 255, 255, 0.1);

  --color-blue: rgb(0, 200, 255);
  --color-blue80: rgba(0, 200, 255, 0.8);
  --color-blue60: rgba(0, 200, 255, 0.6);
  --color-blue40: rgba(0, 200, 255, 0.4);
  --color-blue20: rgba(0, 200, 255, 0.2);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "微軟正黑體", "Microsoft JhengHei", "黑體-繁",
    "蘋果儷中黑", sans-serif;
  height: 100%;
}

body {
  display: flex;
}

.window {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: rgba(31, 39, 43, 0.95);
  /* background-color: red; */
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
}

/*視窗最大化時*/
.window.maximized {
  margin: 0px;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}
.window.maximized .window-border {
  display: none;
}

/*標題列*/
.window-titlebar {
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.titlebar-txt {
  height: 100%;
  font-size: 18px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0 5px;
  flex: 1;
  user-select: none;
}

.titlebar-tools {
  display: flex;
}
.titlebar-tools-btn {
  height: 100%;
  width: 40px;
  margin-left: 1px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebar-tools-btn:hover {
  background-color: var(--color-white40);
  cursor: pointer;
  outline: 1px solid var(--color-white60);
}
.titlebar-tools-btn svg {
  width: 16px;
  height: 16px;
}

/*內容區塊*/
.window-body {
  flex: 1;
}

/*---------------------------*/

.window-border {
  position: fixed;
  z-index: 9999;
}
.window-CT {
  height: var(--window-border);
  top: 0;
  left: var(--window-border-corner);
  right: var(--window-border);
  cursor: n-resize;
}

.window-RC {
  width: var(--window-border);
  top: var(--window-border);
  right: 0;
  bottom: var(--window-border-corner);
  cursor: w-resize;
}

.window-CB {
  height: var(--window-border);
  bottom: 0;
  left: var(--window-border-corner);
  right: var(--window-border-corner);
  cursor: n-resize;
}

.window-LC {
  width: var(--window-border);
  top: var(--window-border-corner);
  left: 0;
  bottom: var(--window-border-corner);
  cursor: w-resize;
}

.window-LT {
  width: var(--window-border-corner);
  height: var(--window-border-corner);
  left: 0;
  top: 0;
  cursor: nw-resize;
}

.window-RT {
  width: var(--window-border);
  height: var(--window-border);
  right: 0;
  top: 0;
  cursor: ne-resize;
}

.window-LB {
  width: var(--window-border-corner);
  height: var(--window-border-corner);
  left: 0;
  bottom: 0;
  cursor: ne-resize;
}

.window-RB {
  width: var(--window-border-corner);
  height: var(--window-border-corner);
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}
